.chat {
  overflow: auto;
  height: 70vh;
  -webkit-animation: fadeIn 1.5s ease both;
  animation: fadeIn 1.5s ease both;
}

.chat_input {
  display: block;
  -webkit-animation: fadeIn 4s;
  animation: fadeIn 4s;
}

.chat__header {
  text-align: center;
  border-bottom: 1px solid black;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
