.login {
  height: 100vh;
  background-color: #f8f8f8;
  display: grid;
  place-items: center;
}

.login_container {
  padding: 10vh;
  text-align: center;
  border-radius: 5vh;
}

.login_container > img {
  object-fit: contain;
  height: 20vh;
  margin-bottom: 40px;
}

.signIn_buttons {
  position: absolute;

  border: red solid;
  position: absolute;
  bottom: 5px;
}
