.message {
  display: flex;
  align-items: center;
  padding: 4vh;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message_info {
  padding-left: 10px;
}

.message_time {
  color: grey;
  font-weight: 300;
}
