.sidebar_div {
  background-color: #f8f8f8;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar_home {
  position: relative;
  top: 5vh;
  text-align: center;
  vertical-align: auto;
}

.sidebar_home:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.channels {
  position: relative;
  top: 8vh;
  font-size: 1.5rem;
  left: 3vh;
}

.add_channel:hover {
  cursor: pointer;
}

.deleteChannel {
  position: relative;
  left: 30vh;
  bottom: 6vh;
}

.deleteChannel:hover {
  cursor: pointer;
  opacity: 0.65;
}

.deleteChannel:active {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.icon_side:hover {
  cursor: pointer;
}

.channel_message {
  position: relative;
  left: 30vh;
  bottom: 6vh;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
